body {
	
  background: 
    radial-gradient(white 0.5px, #4189F2 1px),
    radial-gradient(black 10px, transparent 10px),
    linear-gradient(white 4px, transparent 0), #fff;
  background-size: 25px 25px, 25px 25px,100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;

}

.container {

  background: 
    radial-gradient(black 0.1px, transparent 4px),
    radial-gradient(black 0.1px, transparent 4px),
    linear-gradient(#fff 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
  #fff;
  background-size: 4px 4px, 4px 4px,100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;

}

